*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tagesschrift", "system-ui", sans-serif;
  font-size: 18px;
  min-width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;  /* pour les enfants */
  background-color: black;
}

h1 {
  font-size: 1.8rem;
  margin: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid #2B2D42;
  width: 100%; /* pour toute la largeur */
}

.dwarf {
  width: 2rem;
}

.player-turn {     
  background:rgba(43, 45, 66, 0.4); 
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 1.3rem ;
  width: 40vh;
  height: 5vh;
  border-radius: 10px;
  font-size: 16px;
}

#game-board {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-direction: column; 
}

#myCanvas {
  max-width: 100%;
  height: auto;
}


@media (min-width: 576px) {
  body {
    background: url("/images/bg.svg") no-repeat center center fixed;
    background-size: cover;
  }

  h1 {
    font-size: 60px;
    margin: 2rem 1rem ;
  }

  .title {
    border-bottom: 3px solid #2B2D42;
  }

  .dwarf {
    width: 3rem;
  }

  .player-turn {
    width: 50vh;
    font-size: 18px;
  }

  #game-board {
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 8rem 1rem;
  }
} 