*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tagesschrift", "system-ui";
  font-size: 18px;
  min-width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.5rem;
  margin: 2rem 1rem ;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.dwarf {
  width: 1.5rem;
}

#game-board {
  display: flex;
  justify-content: center;
  margin: 1rem;
  flex-direction: column; 
}

#myCanvas {
  max-width: 100%;
  height: auto;
}

/* Mobile */

@media (min-width: 600px) {
  h1 {
    font-size: 2rem;
    margin: 2rem 1rem ;
  }

  .dwarf {
    width: 2rem;
  }

  #game-board {
    flex-direction: row; 
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 8rem 1rem;
  }
} 